@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}



.css-1kt8ah5-MuiDataGrid-root .MuiDataGrid-row:not(.MuiDataGrid-row--dynamicHeight)>.MuiDataGrid-cell {
    overflow:visible !important;
    white-space: wrap !important;
}
element.style {
  min-width: 50px;
  max-width: 200px;
  min-height: 52px;
  max-height: 52px;
}

.css-mb6mia {
  grid-column: span 6 !important;
  grid-row: span 2;
  background-color: #1F2A40;
}

.css-1r0ei6f {
  grid-column: span 6 !important;
  grid-row: span 2;
  background-color: #1F2A40;
  overflow: auto;
}
a {
  color: #FFA500;
  text-decoration: underline;
}